<!doctype html>

<html>

<head>
    <title>Train the model</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <article class="container">
        {% if message %}
        <section class="alert alert-success" role="alert">
            <h4 class="alert-header">{{message}}</h4>
        </section>
        {% endif %}
        <section class="jumbotron">
            <h1>Upload a picture to train the model!</h1>
        </section>
        <form method=post enctype=multipart/form-data> <section class="form-group row">
            <label class="col-sm-2 col-form-label">Who is this?</label>
            <section class="col-sm-10">
                <input type="text" class="form-control" name="name" />
            </section>
            </section>
            <section class="form-group row">
                <label class="col-sm-2 col-form-label">Upload an image</label>
                <section class="col-sm-10">
                    <input type="file" class="form-control" name="file" />
                </section>
            </section>
            <section class="form-group row">
                <section class="col-sm-12">
                    <button type="submit" class="btn btn-success">Upload</button>
                </section>
            </section>
        </form>
    </article>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>